@font-face {
  font-display: swap;
  font-family: 'Co Headline Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Co Headline Regular'), url('/fonts/Co Headline.woff') format('woff');
}


@font-face {
  font-display: swap;
  font-family: 'Co Headline Light';
  font-style: normal;
  font-weight: normal;
  src: local('Co Headline Light'), url('/fonts/Co Headline Light.woff') format('woff');
}


@font-face {
  font-display: swap;
  font-family: 'Co Headline Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Co Headline Bold'), url('/fonts/Co Headline Bold.woff') format('woff');
}
