body {
  background-color: rgb(var(--color-green-white));
  font-family: "Co Headline Light", sans-serif;
  line-height: 1.5;
}

#main-header {
  --max-width: 1366px;
  align-items: start;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  padding: clamp(1rem, 1rem + (var(--current-width, 100vw) - var(--min-width)) / (var(--max-width) - var(--min-width)) * 1rem, 2rem);
  padding-block-end: clamp(0.5rem, 0.5rem + (var(--current-width, 100vw) - var(--min-width)) / (var(--max-width) - var(--min-width)) * 0.5rem, 1rem);
}

#main-header__logo > img {
  width: clamp(160px, 160px + (var(--current-width, 100vw) - var(--min-width)) / (var(--max-width) - var(--min-width)) * 212px, 372px);
}

#main-header__info {
  font-size: clamp(14px, 14px + (var(--current-width, 100vw) - var(--min-width)) / (var(--max-width) - var(--min-width)) * 8px, 22px);
}

#main-footer {
  --max-width: 800px;
  background-color: rgb(var(--color-coriander));
  font-size: clamp(14px, 14px + (var(--current-width, 100vw) - var(--min-width)) / (var(--max-width) - var(--min-width)) * 2px, 16px);
  padding-inline: clamp(1rem, 1rem + (var(--current-width, 100vw) - var(--min-width)) / (var(--max-width) - var(--min-width)) * 3rem, 4rem);
  position: relative;
}

#main-footer > div {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: clamp(2rem, 2rem + (var(--current-width, 100vw) - var(--min-width)) / (var(--max-width) - var(--min-width)) * 2rem, 4rem);
  padding-block: clamp(85px, 85px + (var(--current-width, 100vw) - var(--min-width)) / (var(--max-width) - var(--min-width)) * 65px, 150px) clamp(2rem, 2rem + (var(--current-width, 100vw) - var(--min-width)) / (var(--max-width) - var(--min-width)) * 2rem, 4rem);
}
@media (max-width: 950px) {
  #main-footer > div {
    justify-content: center;
  }
}

#main-footer iframe {
  aspect-ratio: 1;
  border: 1px solid black;
  border-radius: 0.5rem;
  max-width: clamp(280px, 280px + (var(--current-width, 100vw) - var(--min-width)) / (var(--max-width) - var(--min-width)) * 120px, 400px);
}

#main-footer__copyright {
  font-size: 10px;
  padding-block-end: 6px;
  text-align: center;
}

.hours {
  padding-inline-start: calc(1em + 1ch);
}

#hero {
  --max-width: 1366px;
  background-image: url("/images/hero.jpg"); /* TODO: responsive sizes */
  background-size: cover;
  height: calc(100 * var(--vh, 1vh) - var(--header-height));
  min-height: 55vw;
  position: relative;
}

#hero > img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center 25%;
     object-position: center 25%;
}

main {
  --max-width: 720px;
  background: linear-gradient(to bottom, rgb(var(--color-green-white)), white, rgb(var(--color-green-white)));
  display: flex;
  flex-direction: column;
  font-size: clamp(14px, 14px + (var(--current-width, 100vw) - var(--min-width)) / (var(--max-width) - var(--min-width)) * 6px, 20px);
  margin-block: clamp(1.5rem, 1.5rem + (var(--current-width, 100vw) - var(--min-width)) / (var(--max-width) - var(--min-width)) * 2.5rem, 4rem) clamp(0.75rem, 0.75rem + (var(--current-width, 100vw) - var(--min-width)) / (var(--max-width) - var(--min-width)) * 1.25rem, 2rem);
  padding-inline: clamp(1.5rem, 1.5rem + (var(--current-width, 100vw) - var(--min-width)) / (var(--max-width) - var(--min-width)) * 2.5rem, 4rem);
  row-gap: clamp(3rem, 3rem + (var(--current-width, 100vw) - var(--min-width)) / (var(--max-width) - var(--min-width)) * 3rem, 6rem);
  text-align: center;
}

#services {
  -moz-column-gap: calc(var(--service-block-ratio) * 2rem);
       column-gap: calc(var(--service-block-ratio) * 2rem);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-inline: auto;
  max-width: calc(144% - clamp(64%, 64% + (var(--current-width, 100vw) - var(--min-width)) / (var(--max-width) - var(--min-width)) * 16%, 80%));
}

.service-block {
  width: calc((100% - 2 * var(--service-block-ratio) * 2rem) / 3);
}

.service-block:not(:nth-last-child(-n+2)) {
  margin-block-end: 7%;
}

#services h2 {
  font-size: max(14px, var(--service-block-ratio) * 20px);
  line-height: 1.2;
  margin-inline: -50%;
}

#services img {
  filter: sepia(0.25);
  height: auto;
  margin-bottom: 1rem;
}
/*# sourceMappingURL=style.css.map */